{% extends 'base_registration.html' %}
{% block content %}

<form method="POST">
{% csrf_token %}
<div class="con">
  
  <header class="head-form">
    <h2>Регистрация</h2>
  </header>
  <br>
  
  <div class="field-set">

    {% for field in user_form %}
    {% if field.errors %}
      {{ field.errors }}
    {% endif %}
  
    <span class="input-item">
      {% if field == user_form.username %}
        <i class="fa fa-user-circle"></i>
      {% endif %}
      {% if field == user_form.email %}
        <i class="fa fa-envelope"></i>
      {% endif %}
      {% if field == user_form.password or field == user_form.password2 %}
        <i class="fa fa-key"></i>
      {% endif %}
    </span>
      {{ field }}
      <br>
    {% endfor %}

    <button class="sign-up" type="submit"> Регистрация </button>
  </div>

  <div class="login-links">
    <p3 class="text-center">Уже есть аккаунт? <a class="txt-brand" href="{% url 'login' %}">Войти</a></p3>
  </div>

</div>
</form>
{% endblock content %}