{% extends "index.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/checkbox.css' %}">
<a href="{% url 'add_todo' %}">
    <button class="create_button">Добавить заметку</button>
</a>
<div class="todo_container">
    {% for i in forms %}
    <div class="todo_item
    {% if i.is_favorite %}
        marked
    {% endif %}
    ">
    <div class="todo_item_header">
        <label class="checkbox_container">
            <input type="checkbox"/>
            <span class="checkmark"></span>
        </label>
        <div id="description">
            <h3><a href="{% url 'detail' i.id %}">{{ i.description }}</a></h3>
        </div>
    </div>
    <div class="todo_item_footer">
        <p>{{ i.created_at }}</p>
        <div class="action_buttons">
            {% if i.is_favorite %}
                <a href="{% url 'mark-todo' i.id %}"><img src="{% static 'icons/star.png' %}"></a>
            {% else %}
                <a href="{% url 'mark-todo' i.id %}"><img src="{% static 'icons/star (1).png' %}"></a>
            {% endif %}
            <a href="{% url 'delete-todo' i.id %}"><img src="{% static 'icons/delete.png' %}"></a>
        </div>
    </div>
    </div>
    {% endfor %}  
</div>
{% endblock content %}