{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
 </head>
<body>
    {% if user.is_authenticated %}
    <div class="container">
        <p2>{{ user.username }}</p2>
        
        <img class="image" src="{% static 'media/notes.png' %}">
        <a href="{% url 'home' %}"><p>My notes</p></a>

        <a href="{% url 'logout' %}"><p1>Log out</p1></a>
    </div>
    {% else %}
    <div class="container1">
        <img class="image" src="{% static 'media/notes.png' %}">
        <a href="{% url 'home' %}"><p>My notes</p></a>
    </div>
    <br>
    <div class="container2">
    <a href="{% url 'login' %}" class="link1">Войти</a>
    <a href="{% url 'signup' %}" class="link2">Регистрация</a>
    </div>
    {% endif %}

    {% block content %}
    {% endblock content %}
</body>
</html>