@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #263238;
}

body {
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;

    font-family: 'Vibur', cursive;

    font-family: 'Abel', sans-serif;
    opacity: .95;
}

form, .form1 {
    width: 450px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
}
form{
    min-height: 500px;
}
.form1 {
    min-height: 200px;
}
/* form Container */
form .con {
    display: -webkit-flex;
    display: flex;
  
    -webkit-justify-content: space-around;
    justify-content: space-around;
  
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  
    margin: 0 auto;
}

header {
    margin: 2% auto 10% auto;
    text-align: center;
}

header h2 {
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
}
/*  A welcome message or an explanation of the login form */
header p {
    letter-spacing: 0.01em;
    color: red;
    font-size: 15px;
    margin-top: 10px;
}


.input-item {
    background: #fff;
    color: #333;
    padding: 14.5px 0px 15px 9px;
    border-radius: 5px 0px 0px 5px;
}

/* Show/hide password Font Icon */
/* inputs form  */
input[class="form-input"]{
    width: 240px;
    height: 50px;
  
    margin-top: 2%;
    padding: 15px;
    
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
  
    outline: none;
    border: none;
  
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    
}
input[id="txt-input"] {width: 250px;}
/* focus  */
input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}

button {
    display: inline-block;
    color: #252537;
  
    width: 280px;
    height: 50px;
  
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    margin: 7% auto;
    letter-spacing: 0.05em;
}

/*     Sign Up button  */
.sign-up {background: #B8F2E6;}


/* buttons hover */
button:hover {
    transform: translatey(3px);
    box-shadow: none;
}

/* buttons hover Animation */
button:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}
.login-links
{
  padding:15px 5px 0;
  font-size:13px;
  color:#96a2b2
}
.login-links:after
{
  content:'';
  display:table;
  clear:both
}
.login-links a
{
  color:#96a2b2;
  opacity:.9
}
.login-links a:hover
{
  color:#29aafe;
  opacity:1
}
.image{
    width: 200px;
    height: 200px;
    /* margin-left: 300px; */
}
a.glav{
    font-family: "Lucida Handwriting",cursive;
    color: rgb(180, 89, 89);
    font-size: 50px;
}
p6{
    margin-top: 70px;
}
.container,.container1,.container2{
    display: flex;
    flex-direction: row;
    font-family: "Lucida Handwriting",cursive;
    padding: 10px;
    justify-content: center;
}
.container2{
    font-size: 30px;
}
/* p1{
    margin-left: 280px;
    color:black;
}
p2{
    margin-left: 50px;
} */
a{
    text-decoration: none;
}
.link2{
    margin-left: 50px;
}


section{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create_container{
    width: 100%;
    height: 20%;
}
.create_input{
    padding: 12px 5px;
    font-size: 18px;
    width: 90%;
}
.create_button{
    display: flex;
    padding: 12px 20px;
    margin-top: 20px;
    justify-content: center;
    background-color: #ce93d8;
    border: 1px solid #ce93d8;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}
.create_button:active{
    border: 1px solid #ce93d8;
    box-shadow: 2px 2px 5px 3px #fce4ec;
}
.todo_container{
    padding: 30px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.todo_item, .todo_item1{
    border:1px solid gray;
    border-radius: 5px;
    height: auto;
    padding: 10px 15px;
    background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
    margin-bottom: 20px;
}
.todo_item{
    width: 400px;
}
.todo_item1{
    width:unset;
}

.todo_item.marked{
    background-image: linear-gradient(-225deg, #edf3b6 50%, #eff7af 50%);
    border: 2px solid #fad66a;
}
.todo_item_header{
    display: flex;
    align-items: center;
    min-height: 35px;
}
.todo_item_header h4{
    font-size: 18px;
    font-family: sans-serif;
}

.todo_item_footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.todo_item_footer p{
    font-size: 15px;
    font-family: sans-serif;
}
.todo_item_footer .action_buttons{
    display:flex;
}
.todo_item_footer img{
    width: 25px;
    height: 25px;
    margin: 0 5px;
    cursor: pointer;
}

h5{
    color:rgb(126, 35, 35);
}
#description{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
p{
    font-size: 22px;
    color: black;
}
.button{
    background-color: #ce93d8;
    border: 1px solid #ce93d8;
    color: white;
    margin-top: 20px;
    padding: 12px 20px;
    text-align: center;
    border-radius: 3px;
    display:inline-block;
    font-size: 18px;
    font-weight: bold;
}